@model WebNotes.Models.HomeViewModel
    @using WebLibrary

@Html.ValidationSummary()

<div>
    @Html.ActionLink("Выйти", "LogOff", "Account")
</div>
@if (Model.Log == Permission.Admin)
{
<div>
    @Html.ActionLink("Пользователь", "Index", "User")
</div>
}
<div>
    @Html.ActionLink("Перейти к заметкам", "ShowNotes", "Note")
</div>
